body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header{
  padding: 2% 0 2% 0;
  background-color: #088A85;
  text-align: center;
  font-size: 40px;
  font-family: 'alpha_echoregular', Arial, sans-serif;
}
span{
  color: #DBA901;
}
.row{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin:auto;
}
.menu_1{
  width: 40%;
  text-align: center;
  height: 500px;
  padding: 10px;
  margin: 5% 2.5% 0% 2.5%;
  background-color: #F5BCA9;
  box-shadow: 6px 6px 6px 6px #D8D8D8;
}
.menu{
  width: 40%;
  text-align: center;
  height: 500px;
  padding: 10px;
  margin: 5% 2.5% 0% 2.5%;
  background-color: #fff;
  box-shadow: 6px 6px 6px 6px #D8D8D8;
}



a{
  text-decoration: none;

}
.icone {
  font-size: 20px;
  color: #9c47fc;
  display: block;
  background: -webkit-linear-gradient(right,#F7BE81, #FE2E2E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade_1{
  background: -webkit-linear-gradient(right,#9A2EFE, #DF7401);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.degrade_2{
  background: -webkit-linear-gradient(right,#00FFFF, #0431B4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.degrade_3{
  background: -webkit-linear-gradient(right,#ACFA58, #21610B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.align{
  padding-top: 40%;
  text-align: center;
  font-size: 20px;
  line-height: 2rem;
}
.enchantee{
  color: #3B170B;
}


button{
  padding: 1% 5% 1% 5%;
  margin: 5% 20% 10% 40%;
  background-color: #04B486;
  border-radius: 20px;
  color: #DBA901;
  font-size: 30px;

}
footer{
  width: 100%;
  bottom: 0;
  padding: 2%;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  background-color: #088A85;
  font-size: 30px;
}
.contact{
	float:right;
	margin-right:70px;
}
.mentions{
	float:left;
}






/* Page 2 */
*{
  margin: 0;
  padding: 0;
}
.bloc_page{
  background-color: #F6D8CE;
  height: 100%;
}
h3{
  text-align: center;
}
.en_tete{
  margin: 10%;
  line-height: 3rem;
  text-align: center;
}
.prelude{
  margin: 2% 15% 2% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orgue{
  margin: 2% 15% 2% 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.final{
  margin:2% 25% 2% 22%;
  line-height: 2rem;
}
.plat{
  padding: 2% 10% 2% 10%;
  line-height: 2rem;
}
.prix{
  padding: 2% 10% 2% 10%;
  line-height: 2rem;
}
.en_tete2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10% 20% 10% 20%;
}
