.note{
  background-color: #FCDFDB;
  color: #3B170B;

}


 .icone {
     font-size: 20px;
     display: block;
     background: linear-gradient(left, #F7BE81, #FE2E2E);
     background-clip: text;
     text-fill-color: transparent;

   }
