.btn{
  padding: 0.5% 5% 0.5% 5%;
  margin: 5% 40% 10% 35%;
  background-color: $color-primary;
  border-radius: 20px;
  color: #DBA901;
  font-size: 25px;
}

.dot {
  display:inline-block;
  width:6px;
  height:6px;
  border-radius:50%;
  margin-right:3px;
  background:$color-text;
}
