body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
span{
  color:$color-text;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 25px;
  margin: 0 2% 0 2%;
  display: inline-block;
  vertical-align: middle;
}


.align{
  padding-top: 50%;
  line-height: 2em;
}
.intitule{
  text-align: center;
  font-size: 20px;
  font-style: bold;
  margin: 5% 0 1% 0;

}
ul{
  list-style: none;
}
.container1{
  width: 70%;
  margin: 1% 10% 10% 15%;
  box-shadow: 0 14px 28px $color-shadow, 0 10px 10px $color-shadow;
}

img{
  width: 230px;
  height: 20px;
}
.en_tete{
  margin-top: 2%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 50em;
  text-align: center;
}

.bloc {
  margin: 2% 1% 2% 1%;
  padding: 0 8% 0 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;


 }


.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

     }
.left{
  width: 80%;
  padding: 2% 0 2% 0;
  text-align: left;
  line-height: 3rem;
}

.right{
  width: 20%;
  padding: 2% 0 2% 0;
  text-align: right;
  line-height: 3rem; }

.en_tete2 {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10%; }

  /* Responsive pour smartphone*/
@media all and (max-width: 800px)
{
  body{
    flex-direction: column;
  }
}
