
.note{
  font-family: 'Shadows Into Light Two', cursive,sans-serif;
}
.chic{
  font-family: 'Federo', cursive, sans-serif;

}
.palette{
  font-family: 'Kaushan Script',cursive, sans-serif;
}
.delice{
  font-family: 'Marck Script',cursive, sans-serif;
}
.color1{
  color: #FF8000;
  font-family: 'Federo', cursive, sans-serif;
}
.color2{
  color: #2ECCFA;
  font-family: 'Marck Script',cursive, sans-serif;
}
.color3{
  color: #72BF56;
  font-family: 'Kaushan Script',cursive, sans-serif;
}
i{
  font-size: 20px;
  background: -webkit-linear-gradient(right,#F6916A,#F05861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
